body{
    background-color: white;
}
#nav_barra{
    display: flex;
    background-color: white;
    justify-content: space-around;
}.a_nav{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #5F5F5F;
    text-align: center;
    font-size: 22px;
    position: relative;
}
.nav_img{
    margin-right: 5px;
    height: 20px;
    width: 20px;
    color: #383838;
}
.estadisticas_personales{
    padding: 5%;
    background-color: #9000FF;
    color: #383838;
    
}
.esta_semana{
    display:inline-block;
    width: 30%;
    margin-inline: 5%;

}


.a_nav:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #9000FF;
    opacity: 0;
}
.a_nav:hover{
    color: #9000FF; 
    .a_nav:before{
        opacity: 1;
    }
    .nav_img{
        filter: invert(14%) sepia(79%) saturate(5281%) hue-rotate(272deg) brightness(97%) contrast(134%);
    }
}
